
    <ion-grid>
      <ion-row class="white">
        <ion-col><img src="../../assets/home.png" alt="Home" class="tabSection" routerLink="/home"> <hr *ngIf="selected=='/home'"> </ion-col>
        <ion-col><img src="../../assets/groups.png" alt="Groups" class="tabSection" routerLink="/groups"> <hr *ngIf="selected=='/groups'"> </ion-col>
        <ion-col><img src="../../assets/shopping-store.png" alt="Marketplace" class="tabSection" routerLink="/marketplace"><hr *ngIf="selected=='/marketplace'"></ion-col>
        <ion-col><img src="../../assets/user.png" alt="Profile" class="tabSection"><hr *ngIf="selected=='/profile'"></ion-col>
        <ion-col><img src="../../assets/bell.png" alt="Notifications" class="tabSection"><hr *ngIf="selected=='/notifications'"></ion-col>
        <ion-col><img src="../../assets/menu.png" alt="Menu" class="tabSection"><hr *ngIf="selected=='/menu'"></ion-col>
      </ion-row>
    </ion-grid>


