<ion-header>
  <app-my-header></app-my-header>
</ion-header>
<ion-content>
  <ion-grid >
    <ion-row class="titleRow">
      <ion-title>
        Menu
      </ion-title>
      <div>
        <img src="../../assets/Notifications/loupe.png">
      </div>
    </ion-row>

    <ion-row class="profileRow">
      <ion-avatar>
        <img src="../../assets/avatar-placeholder-small.png" alt="avatar">
      </ion-avatar>
      <div><b>Name Surname</b> See your profile</div>


    </ion-row>

    <ion-row>
      <hr>
    </ion-row>

    <ion-row class="list">
      <ion-col>
        <div><img src="../../assets/Menu/heart.png"> <div>COVID-19 Information Center</div></div>
        <div><img src="../../assets/Menu/group.png"> <div>Groups</div></div>
        <div><img src="../../assets/Menu/video-player.png"> <div>Videos on Watch</div></div>
        <div><img src="../../assets/Menu/flag.png"> <div>Pages</div></div>
        <div><img src="../../assets/Menu/event.png"> <div>Events</div></div>
        <div><img src="../../assets/Menu/suitcase.png"> <div>Jobs</div></div>
        <div><img src="../../assets/Menu/digital-clock.png"> <div>Most Recent</div></div>
      </ion-col>
      <ion-col>
        <div><img src="../../assets/Menu/bookmark.png"> <div>Saved</div></div>
        <div><img src="../../assets/Menu/friends.png"> <div>Friends</div></div>
        <div><img src="../../assets/Menu/store.png"> <div>Marketplace</div></div>
        <div><img src="../../assets/Menu/memory.png"> <div>Memories</div></div>
        <div><img src="../../assets/Menu/match.png"> <div>Dating</div></div>
        <div><img src="../../assets/Menu/tetris.png"> <div>Gaming</div></div>
        <div><img src="../../assets/Menu/nearby.png"> <div>Nearby Friends</div></div>
      </ion-col>
    </ion-row>

    <ion-row class="rowMenu">
      <div><img src="../../assets/Menu/rows-menu/cubes.png"> See More</div> <img src="../../assets/Menu/rows-menu/arrow-down.png" class="arrowImg"> <hr>
    </ion-row>
    <ion-row class="rowMenu">
      <div><img src="../../assets/Menu/rows-menu/menu.png"> Also from Facebook</div> <img src="../../assets/Menu/rows-menu/arrow-down.png" class="arrowImg"> <hr>
    </ion-row>
    <ion-row class="rowMenu">
      <div><img src="../../assets/Menu/rows-menu/help-web-button.png"> Help & Support</div> <img src="../../assets/Menu/rows-menu/arrow-down.png" class="arrowImg"> <hr>
    </ion-row>
    <ion-row class="rowMenu">
      <div><img src="../../assets/Menu/rows-menu/settings.png"> Settings & Privacy</div> <img src="../../assets/Menu/rows-menu/arrow-down.png" class="arrowImg"> <hr>
    </ion-row>
    <ion-row class="rowMenu" id="logOut">
      <div><img src="../../assets/Menu/rows-menu/exit.png"> Log Out</div>
    </ion-row>

  </ion-grid>
</ion-content>

