<div *ngFor="let d of datas">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{d.title}}</ion-card-title>
      <ion-card-subtitle>{{d.subtitle}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{d.description}}
      <img [src]="d.image" alt="Image post">

      <ion-button size="default" expand="block" color="primary"> BUTTON </ion-button>
      <ion-select interface="action-sheet" expand="block" size="default">
        <ion-select-option>a</ion-select-option>
        <ion-select-option>b</ion-select-option>
        <ion-select-option>c</ion-select-option>
        <ion-select-option>d</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>
</div>
