ion-card{
  border-radius: 0px;
  margin: 10px 0px;
  ion-card-header{
    ion-card-subtitle{
      margin-top: 0px;
    }
    padding-bottom: 5px;
  }
}


ion-select{
  background-color: #1877f2;
  border-radius: 5px;
  margin-left: 2px;
  width: 284px;
  height: 36px;
}
