<ion-header>
  <app-my-header></app-my-header>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row class="white">
      <div class="containerDiv">
        <div class="topDiv">
          <div class="camCover">
            <img src="../../assets/profile/camera.png">
          </div>
        </div>
        <div class="imageDiv">
          <div class="camCover">
            <img src="../../assets/profile/camera.png">
          </div>
        </div>
        <div class="bottomDiv">
          Name Surname
        </div>
        <div class="description">
          Some description
        </div>
      </div>
    </ion-row>

    <ion-row class="white rowButtons">
      <ion-button expand="block" class="addStory"> <img src="../../assets/GroupPage/plus-small.png"> Add a story</ion-button>
      <ion-button class="options"> ••• </ion-button>
    </ion-row>

    <ion-row class="white">
      <hr>
    </ion-row>

    <ion-row class="white infoRow">
      <div><img src="../../assets/profile/suitcase.png" alt="work"> Some information of <b> work</b></div>
      <div><img src="../../assets/profile/cap.png" alt="Graduation Cap"> Some information of <b> studies</b></div>
      <div><img src="../../assets/profile/cap.png" alt="Graduation Cap"> Some information of <b> studies</b></div>
      <div><span>•••</span> See your information </div>
    </ion-row>

    <ion-row class="white photoRow">
      <div class="divContainer">
        <div>
          <img src="../../assets/GroupPage/placeholder.png" alt="Photo">
          <img src="../../assets/GroupPage/placeholder.png" alt="Photo">
          <img src="../../assets/GroupPage/placeholder.png" alt="Photo">
        </div>
        <div>
          <img src="../../assets/GroupPage/placeholder.png" alt="Photo">
          <img src="../../assets/GroupPage/placeholder.png" alt="Photo">
          <img src="../../assets/GroupPage/placeholder.png" alt="Photo">
        </div>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
