<ion-header>
    <app-my-header></app-my-header>
</ion-header>



<ion-content>
  <ion-grid>
    <ion-row class="white">
      <ion-col> <ion-title color="primary" class="title"> <b>Groups</b> </ion-title> </ion-col>
      <ion-col class="colIcons">

        <ion-col><img src="../../assets/GroupPage/plus.png" alt="plus" class="icons" ></ion-col>
        <ion-col><img src="../../assets/GroupPage/settings.png" alt="settings" class="icons"></ion-col>
        <ion-col><img src="../../assets/search.png" alt="search" class="icons"></ion-col>

      </ion-col>
    </ion-row>

    <ion-row class="white">
      <div class="scrollmenu">
        <a><img src="../../assets/groups.png" class="iconsButtonList">Your Groups</a>
        <a><img src="../../assets/GroupPage/chat.png" class="iconsButtonList">Rooms and chats</a>
        <a><img src="../../assets/GroupPage/compass.png" class="iconsButtonList">Tips</a>
        <a><img src="../../assets/GroupPage/inbox.png" class="iconsButtonList">Invites</a>
      </div>
    </ion-row>

    <ion-row class="white">
      <div class="scrollmenu">
        <a class="aCardsTop"><span>Example 1</span></a>
        <a class="aCardsTop"><span>Example 2</span></a>
        <a class="aCardsTop"><span>Example 3</span></a>
        <a class="aCardsTop"><span>Example 4</span></a>
        <a class="aCardsTop"><span>Example 5</span></a>
      </div>
    </ion-row>
  </ion-grid>



  <div>
    <app-my-post></app-my-post>
  </div>


</ion-content>
