<ion-header [translucent]="true" class="white">

  <ion-toolbar class="topToolbar">
    <img src="../../assets/facebook-logo.png" alt="Facebook-logo" class="logo">
    <img src="../../assets/search.png" class="search">
    <img src="../../assets/messenger.png" alt="Messanger" class="messangerIcon">
  </ion-toolbar>
  <app-my-header></app-my-header>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="white liveChatPadding">
      <ion-avatar><img src="../../assets/avatar-placeholder.png" alt="Avatar"></ion-avatar>
      <ion-input type="text" placeholder="A cosa stai pensando?"></ion-input>

    <hr>

      <div><img src="../../assets/Home/live.png" alt="LiveImage"><b>Live</b></div>
        <div class="centralDiv"></div>
      <div><img src="../../assets/Home/photos.png" alt="PhotosImage"><b>Photos</b></div>
        <div class="centralDiv"></div>
      <div><img src="../../assets/Home/camera.png" alt="RoomImage"><b>Room</b></div>
    </ion-row>

    <ion-row class="white">


      <div class="scrollmenu">
        <div>
          <ion-button fill="outline" color="secondary" class="button">
            <img src="../../assets/Home/camera.png" alt="Camera Image" >
            Create <br> Room
          </ion-button>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
          </ion-avatar>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
          </ion-avatar>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
          </ion-avatar>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
          </ion-avatar>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
          </ion-avatar>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
            <ion-badge></ion-badge>
          </ion-avatar>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
          </ion-avatar>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
          </ion-avatar>
        </div>
        <div>
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar" class="image">
            <div class="badgeOnline"></div>
          </ion-avatar>
        </div>

      </div>
    </ion-row>

    <ion-row class="white storyPadding">
      <div class="containerDiv">
        <div class="topDiv"></div>
        <div class="imageDiv"></div>
        <div class="bottomDiv">
          Create a story
        </div>
      </div>

      <div class="genericStory">
        <div class="avatar">
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar">
          </ion-avatar>
        </div>
        <div class="text">
          <span>Name Surname</span>
        </div>
      </div>

      <div class="genericStory">
        <div class="avatar">
          <ion-avatar>
            <img src="../../assets/avatar-placeholder.png" alt="Avatar">
          </ion-avatar>
        </div>
        <div class="text">
          <span>Name Surname</span>
        </div>
      </div>
    </ion-row>

    <ion-row>
      <app-my-post></app-my-post>
    </ion-row>
  </ion-grid>

</ion-content>
